.raleway-here {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #fcebd8;
}

header {
  background-color: #359bb4;
  text-align: center;
  color: whitesmoke;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%
}

footer {
  text-align: center;
}

nav {
  align-items: center;
  display: flex;
}
nav div,
nav a {
  border: 1px solid hotpink;
  padding: 10px;
  margin: 10px;
}

#aboutSpan {
  display: block;
  width: 50%;
}

.blogList {
  display: block;
  width: 100%;
}

.postPage {
  margin-left: 12.5%;
  margin-right: 12.5%;
  width: 75%;
  text-wrap: wrap;
}

.postSquare {
  display: center;
  border: 1.5px solid coral;
  margin: 7.5px;
  width: 50%;
  text-align: justify;
}

.postSquare * {
  margin-top: 0;
  margin-bottom: 0.5em;
}

.post-subhead {
  color: gray;
  font-size: 120%;
}