{{template "header" .}}
<span id="aboutSpan">
  <h3>Hello, I'm Alistair</h3>
  <p>
    Hi. I'm a software engineer, currently based in Cardiff. I also do other things, but
    they are generally not writing about myself, so this will be both bad and
    awkward. <br /><br />
    I'm a Software Engineer, currently working at Companies House. Before that I was a software 
    development apprentice at the BBC, in Archive Technology and Services, and before that I was a child. 
    While doing the apprenticeship I guess I also technically studied at Glasgow University, but that was
    a far more mixed bag which I'd rather not go into. My corporate technical interests have often wound up
    being JS frontendy things, at the Beeb I did a lot of React, and at CH I am doing more weird template-based
    frontend things.<br />
    <br />
    Outside of work and university I build little software projects, mostly fake
    finance applications. I'm enjoying Go these days, indeed this website is
    built using
    <a href="https://pkg.go.dev/html/template">Go's html/template</a> which is
    pretty decent. I also sail, I raced RS Fevas and then RS200s recreationally
    around Scotland until I went to uni when I did a little team racing. Other
    than that I guess I do technically play guitar, but not to any particularly
    great skill level.
  </p>
</span>
{{template "footer"}}
