{{template "header" .}}
<span id="aboutSpan">
  <h3>Hello, I'm Alistair</h3>
  <p>
    Hi. I'm a software engineer, based in Glasgow. I also do other things, but
    they are generally not writing about myself, so this will be both bad and
    awkward. <br /><br />
    I'm a software engineering apprentice working in the BBC's Archive
    Technology and Services on building a next generation archive for the BBC.
    Along with working, I'm also studying at Glasgow University, where I am
    definitely learning things yes, learning many many useful things. <br />
    <br />
    Outside of work and university I build little software projects, mostly fake
    finance applications. I'm enjoying Go these days, indeed this website is
    built using
    <a href="https://pkg.go.dev/html/template">Go's html/template</a> which is
    pretty decent. I also sail, I raced RS Fevas and then RS200s recreationally
    around Scotland until I went to uni when I did a little team racing. Other
    than that I guess I do technically play guitar, but not to any particularly
    great skill level.
  </p>
</span>
{{template "footer"}}
